<br>

<div class="notes-wrapper">
	<div class="team-card">
		<h6>Pod Name</h6>
	 	<h1><%= @team.name %></h1>
	</div>

	<div class="team-card">
		<h6>Lead</h6>
		<% if @team.lead_id.nil? %>
			<h3><i> Lead has not been set</i></h3>
		<% else %>
			<h3><%= @lead.first_name %> <%= @lead.last_name %></h3>
		<% end %>
	</div>

	<div class="team-card">
		<h6>Members</h6>
		<ul>
			<% @team_members.each do |team_member|%>
				<li><%= team_member.first_name %> <%= team_member.last_name %></li>
			<% end %>
		</ul>
	</div>

	<div class="team-card">
		<h6>History</h6>
		<ul>
		<% @records.each do |record|%>
			<li>
				<%= record %>
			</li>
		<% end %>
		</ul>
	</div>
	<div class="team-card">
		<h1> Notes </h1>
		<% @team_notes.each do |note| %>
			<p><%= link_to "#{note.created_at.in_time_zone('America/Chicago').strftime("%a, %b %d, %Y")}", note_path(note.id) %>
		<% end %>
	</div>
</div>
<br>
<%= button_to "Back to All Pods", teams_path, method: :get, class: 'btn btn-dark'%>
