<h2>NOTES</h2>


<div class="container">
	<div class="row col-md-12 col-md-offset-2">
    <table class="table table-striped">
			<thead>
				<tr>
					<th>Pod</th>
					<th>Author</th>
					<th>Timestamp</th>
					<th class="text-center" style="width:300px;">Action</th>
				</tr>
			</thead>
			<% @notes.each do |note| %>
				<tr class="custab">
					<td><%= note.team.name %></td>
					<td>
						<% if note.employees_id.nil? %>
							-
						<% else %>
							<%= note.author.first_name %> <%= note.author.last_name %>
						<% end %>
					</td>
					<td><%=note.created_at.in_time_zone('America/Chicago').strftime('%a %D %I:%M %p')%></td>
					<td class="text-center">
						<%= link_to "View", note_path(note.id), class: 'btn btn-info btn-xs' %>
						<% if current_user&.as_employee.present? %>
							<%= link_to "Edit", edit_note_path(note.id), class: 'btn btn-warning btn-xs' %>
							<%= link_to "Delete", note_path(note.id), method: :delete, class: 'btn btn-danger btn-xs',
														data: {confirm: 'Are you sure you want to permanently delete this note?'} %>
						<% end %>
					</td>
				</tr>
			<%end%>
    </table>
	</div>
</div>

<div>
	<div style="width:fit-content;margin:0 auto;">
	<% if @current_page.positive? %>
		<%= link_to "Previous", notes_path(page: @current_page - 1), :class => 'btn btn-dark' %>
	<% end %>
	<% unless @current_page == @total_pages %>
		<%= link_to "Next", notes_path(page: @current_page + 1),  :class => 'btn btn-dark'%>
	<% end %>
	</div>
</div>