<h1> <%= @note.title %></h1>

<h6 class = "text-muted"><i><%= "#{@note.created_at.in_time_zone('America/Chicago').strftime("%A %B %d, %Y")}" %></i></h6>
<% if @note.employees_id.present?%>
  <h6 class = "text-muted"><i> Created by <%= "#{@note.author.first_name} #{@note.author.last_name}" %></i></h6>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Employee</th>
      <th>Note</th>
      <th>Roadblocks</th>
      <th class="text-center" style="width:120px;">Action</th>
    </tr>
  </thead>
  <% @note_content.each do |employee_content| %>
    <tr class="custab">
      <td class="long-text"><%= employee_content[:name] %></td>
      <td><%= employee_content[:body] %></td>
      <td><%= employee_content[:roadblock] %></td>
      <td class="text-center">
        <% unless employee_content[:roadblock].blank? %>
          <%= link_to "Solutions", note_roadblock_path(employee_content[:roadblock_id]), class: 'btn btn-info btn-xs' %>
        <% end %>
      </td>
    </tr>
  <%end%>
</table>

<hr>
<%= render 'comments/comments'%>

<% if @current_user&.as_employee&.present? %>
  <%=  link_to "Edit Note", edit_note_path(@note), :class => 'btn btn-primary' %>
  <%=  link_to  "Delete Note", note_path(@note), method: :delete, data: {confirm: 'Are you sure'}, :class => 'btn btn-danger'   %>
<% end %>
