<div id="accordion">
  <div class="card">
    <div class="card-header" id="commentsHeading">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseComments" aria-expanded="false" aria-controls="collapseComments">
          Comments
        </button>
      </h5>
    </div>

    <div id="collapseComments" class="collapse" aria-labelledby="commentsHeading" data-parent="#accordion">
      <div class="card-body">
				<% @note.comments.each do |comment| %> 
					<% employee =  @team.members.find{ |e| e[:users_id] == comment.users_id } %>
					<h6><%= "#{employee} "%><small><%="#{comment.created_at.in_time_zone('America/Chicago').strftime("%D %I:%M %p")}" %></small></h6>

					<p> 
						<%= comment.body %> 
						<% if comment.users_id == session[:user_id] %>
							<%= link_to '[X]', [comment.note, comment],
													method: :delete,
													data: { confirm: 'Are you sure?'} %>
						<% end %>
					</p>
					<hr>
				<% end %>

			<% if @current_user&.as_employee&.present? %>
				<%= render 'comments/form'%>
			<% end %>
      </div>
    </div>
  </div>
</div>
<br>
