<h2>Add New Employee</h2>
<br>
<%= form_for :employee, local:true, url: admin_index_path, method: :post  do |f| %>
	<p>
		<%= f.text_field :first_name, placeholder: 'First Name', required: true%>
	</p>

	<p>
		<%= f.text_field :last_name, placeholder: 'Last Name', required: true %>
	</p>

	<p>
		<%= f.text_field :email_address, placeholder: 'Email', required: true %>
	</p>

	<hr>

	<h6>Add to Pod</h6>
	<p>
		<% @teams.each do |team| %>
			<%= check_box_tag "team[]", team.id, false, class: "input-check-box" %>
			<%= "#{team.name}" %>
		<% end %>
	</p>

	<hr>

	<%= f.submit ({:class => 'btn btn-primary'}) %>
	<%= link_to "Cancel", admin_index_path, :class => "btn btn-danger" %>
<% end %>