<h1>Signup!</h1>

<%= form_for :user, url: '/users', method: :patch do |f| %>
  User Name: <%= f.text_field :user_name %>
  Password: <%= f.password_field :password %>
  Password Confirmation: <%= f.password_field :password_confirmation %>
  <%= f.submit "Submit" %>
<% end %>