/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#flash_msg {
  font-weight: bold;
  text-align: center;
  animation: fadeOut 3s;
  -webkit-animation: fadeOut 3s;
  animation-fill-mode: forwards;
  animation-delay: 2s;
  -webkit-animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
}

@keyframes fadeOut {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}

.note-input {
  height: 150px !important;
}

.navbar_button {
  padding: 5px;
}

.snap_logo {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.card-wrapper:hover {
  background-color: #484447;
  transition: 0.3s ease-out;
}

.card-header:hover {
  color: white;
}

.select {
  text-align-last: center;
  padding: 5px;
  margin: 5px;
  font-size: 1em;
}

.team-member-boxes {
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 7px;
}

.input-check-box {
  margin: 5px;
}

#team-members-assign {
  display: inline-grid;
  grid-template-columns: [first-set] 1fr [second-set] 1fr [third-set] 1fr;
  grid-template-rows: repeat(3, 1fr);
}

#team-members-assign > h5 {
  grid-column: 1/4;
}

.notes-wrapper {
  width: 100%;
  margin: 10px;
  padding-bottom: 10px;
  display: table;
  margin: auto;
  text-align: center;
}

.day-card {
  height: auto;
  border: solid #888888;
  border-width: thin;
  box-shadow: 0px 3px 5px #888888;
  padding: 10px;
  display: table-cell;
}

.day-card:hover {
  box-shadow: 0px 5px 5px #888888;
}

.team-card {
  text-align: left;
  height: auto;
  border: solid #888888;
  border-width: thin;
  box-shadow: 0px 3px 5px #888888;
  padding: 30px;
  display: inline-grid;
  margin: 20px;
}

.team-card:hover {
  box-shadow: 0px 5px 5px #888888;
}

.team {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr;
}

.create-note-btn {
  margin-bottom: 5px;
  margin-top: 5px;
}

body {
  background-color:#fff;
  -webkit-font-smoothing: antialiased;
  font: normal 14px Roboto,arial,sans-serif;
}

.login-container {
  width: 100%;
  padding: 25px;
  align-content: center;
  margin: auto;
}

.form-login {
  background-color: #EDEDED;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
  border-color:#d2d2d2;
  border-width: 5px;
  box-shadow:0 1px 0 #cfcfcf;
  width: 350px;
  margin: auto;
}

.login-header { 
 border:0 solid #fff; 
 border-bottom-width:1px;
 padding-top:10px;
 padding-bottom:10px;
 text-align: center;
}


.form-control {
    border-radius: 10px;
}

.wrapper {
    text-align: center;
}

.form-control{
  background: transparent;
}

.custab{
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5% 0;
  box-shadow: 3px 3px 2px #ccc;
  transition: 0.5s;
}

.custab:hover{
  box-shadow: 3px 3px 0px transparent;
  transition: 0.5s;
}

table {
  table-layout:fixed;
}

table td {
  word-wrap:break-word;
}