<h4> Add Solution </h4>
<%= form_for ([@roadblock, @roadblock.solutions.build]) do |f| %>
	<p>
    <%= f.text_area(:body, {:class => 'form-control'}) %>
	</p>

	<p>
    <%= f.submit ({:class => 'btn btn-success'}) %>
	</p>
<% end %>

<br>

