<h4>Solutions</h4>
<hr>
<% @roadblock.solutions.each do |solution| %> 
	<% if (solution.users_id > 1) %>
		<% employee =  @employees.find{ |e| e[:users_id] == solution.users_id } %>
		<h5><i><%= "#{employee} on #{solution.created_at.in_time_zone('America/Chicago').strftime("%a %b %d, %Y at %I:%M %p")}" %></i></h5>
	<% else %>
		<% user = @users.find{ |u| u[:id] == solution.users_id } %>
		<h5><i><%= "#{user.user_name} on #{solution.created_at.in_time_zone('America/Chicago').strftime("%a %b %d, %Y at %I:%M %p")}"  %></i></h5>
	<% end %>
	<p> <%= solution.body %> 
	<% if solution.users_id == session[:user_id] %>
		<%= link_to '[X]', [solution.note_roadblock, solution],
								method: :delete,
								data: { confirm: 'Are you sure?'} %>
		<% end %>
	</p>
<% end %>
